deprecated/
results/data/
config/.DS_Store
.nextflow/cache/
.nextflow/plr/
.nextflow/history
.nova/
scripts/ncov/
work/
data/*.vcf
data/*.tsv
data/*.tsv.gz
data/*.txt
data/*.fasta

.*
.next*
.DS_Store
.nextflow.log*
*.fasta.fai
*.fastq.gz
*.sam
*.bam
*.bam.bai
*.1
*.2
*.3
prolonged_infection_dag.png.*
report.html*
trace.txt*
timeline.html*
*.tar.xz
