visuals/
data/
readables/
.Rproj.user/
deprecated/

prolonged_infection_workflow.tar.gz
data.zip
E484T_paper.Rproj
.DS_Store
.Rhistory
.DS_Store
.Rproj.user/3F31B9AE/pcs/debug-breakpoints.pper
.Rproj.user/3F31B9AE/pcs/files-pane.pper
.Rproj.user/3F31B9AE/pcs/source-pane.pper
.Rproj.user/3F31B9AE/pcs/windowlayoutstate.pper
.Rproj.user/3F31B9AE/pcs/workbench-pane.pper
.Rproj.user/3F31B9AE/persistent-state
.Rproj.user/3F31B9AE/rmd-outputs
.Rproj.user/3F31B9AE/saved_source_markers
.Rproj.user/3F31B9AE/sources/prop/059597CF
.Rproj.user/3F31B9AE/sources/prop/0C33D5D1
.Rproj.user/3F31B9AE/sources/prop/25689DDB
.Rproj.user/3F31B9AE/sources/prop/2C9E1E3B
.Rproj.user/3F31B9AE/sources/prop/79AF74CD
.Rproj.user/3F31B9AE/sources/prop/7A23FE58
.Rproj.user/3F31B9AE/sources/prop/81EF3297
.Rproj.user/3F31B9AE/sources/prop/9CD58251
.Rproj.user/3F31B9AE/sources/prop/A246B07A
.Rproj.user/3F31B9AE/sources/prop/C04749F4
.Rproj.user/3F31B9AE/sources/prop/DEB18804
.Rproj.user/3F31B9AE/sources/prop/INDEX
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
