// Conda environment configuration
// conda {
// 	createOptions = '--file config/envs/prolonged_infection.yaml --name prolonged-infection'
// 	useMamba = true
// }

// Changing default DAG-visualizing configuration to true
dag {
	enabled = true
	file = 'prolonged_infection_dag.png'
}

// workflow configuration parameters
params {

	// important auxiliary files
	primer_key = "$baseDir/config/fig2b_raw_read_guide.csv"
	refseq = "$baseDir/resources/reference.fasta"
	refgff = "$baseDir/resources/MN9089473.gff3"
	consensus_seqs = "$baseDir/data/alltimepoints_20220222.fasta"
	Ct_data = "$baseDir/data/Ct_timeline.csv"
	neut_data = "$baseDir/data/antibody_potency.csv"

	// directories
	refdir = "$baseDir/resources"
	results = "$baseDir/results"
	results_data_files = "$baseDir/results/data"
	visuals = "$baseDir/results/visuals"

	//scripts
	fasta_sep = "$baseDir/scripts/fasta_sep.R"
	Ct_script = "$baseDir/scripts/Figure1A_Ct_through_time.R"
	cons_mutations = "$baseDir/scripts/Figure2A_consensus_mutations_through_time.R"
	neut_script = "$baseDir/scripts/Figure2C_neutralization_assay.R"

}

