// workflow configuration parameters
params {

	// important auxiliary files
	primer_key = "$baseDir/resources/fig2b_raw_read_guide.csv"
	refseq = "$baseDir/resources/reference.fasta"
	refgff = "$baseDir/resources/MN9089473.gff3"
	consensus_seqs = "$baseDir/data/alltimepoints_20220222.fasta"
	Ct_data = "$baseDir/data/Ct_timeline.csv"
	neut_data = "$baseDir/data/antibody_potency.csv"

	// directories
	refdir = "$baseDir/resources"
	results = "$baseDir/results"
	results_data_files = "$baseDir/results/data"
	visuals = "$baseDir/results/visuals"

}


// Docker settings
process {
	withName:PANGO_CLASSIFICATION {
		container = 'staphb/pangolin:4.1.2-pdata-1.13'
	}
	withName:FIGURE_1A_PLOTTING {
		container = 'nrminor/wisc-prolonged-infection:v1_0_4'
	}
	withName:ISOLATING_CONSENSUS_SEQS {
		container = 'nrminor/wisc-prolonged-infection:v1_0_4'
	}
	withName:CONSENSUS_ALIGNMENT {
		container = 'staphb/minimap2:2.24'
	}
	withName:CONSENSUS_PILEUP {
		container = 'staphb/samtools:1.15'
	}
	withName:CONSENSUS_VARIANT_CALLING {
		container = 'staphb/ivar:1.3.1-titan'
	}
	withName:GET_ONT_READS {
		container = 'nrminor/wisc-prolonged-infection:v1_0_4'
	}
	withName:ONT_READ_MAPPING {
		container = 'staphb/minimap2:2.24'
	}
	withName:ONT_ALIGNMENT_POLISHING {
		container = 'staphb/samtools:1.15'
	}
	withName:ONT_LOWCOV_ANNOTATION {
		container = 'andreatelatin/covtobed:latest'
	}
	withName:GET_ILL_READS {
		container = 'nrminor/wisc-prolonged-infection:v1_0_4'
	}
	withName:ILL_READ_MAPPING {
		container = 'staphb/minimap2:2.24'
	}
	withName:ILL_ALIGNMENT_POLISHING {
		container = 'staphb/samtools:1.15'
	}
	withName:ILL_LOWCOV_ANNOTATION {
		container = 'andreatelatin/covtobed:latest'
	}
	withName:FIGURE_2A_PLOTTING {
		container = 'nrminor/wisc-prolonged-infection:v1_0_4'
	}
	withName:FIGURE_2C_PLOTTING {
		container = 'nrminor/wisc-prolonged-infection:v1_0_4'
	}
}
docker {
	enabled = true
}


// Changing default DAG-visualizing configuration to true
dag {
	enabled = true
	overwrite = true
	file = 'prolonged_infection_dag.png'
}


// Changing default to collecting run stats
timeline {
  enabled = false
  file    = "${params.results}/timeline.html"
}


report {
  enabled = true
  file    = "${params.results}/report.html"
}


trace {
  enabled = true
  fields  = 'task_id,name,status,exit,realtime,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar'
  file    = "${params.results}/trace.txt"
}


// Setting profiles
profiles {

	standard {
		process.executor = 'local'
	}

	chtc {
		process.executor = 'condor'
		process.cpus = 1
		process.disk = '2 GB'
		process.memory = '2 GB'
	}

}


manifest {
	homePage = 'https://github.com/dholab/E484T-visualizations'
	mainScript = 'prolonged_infection_workflow.nf'
	defaultBranch = 'main'
	description = 'Data visualization for manuscript on persistent infection that led to globally unique E484T mutation'
	author = 'Nicholas R. Minor'
}
